@use "../helpers" as *;

.seo-hero {
  padding: fluid(50, 204) 0 fluid(40, 113) 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &__logo {
    position: absolute;
    left: 0;
    top: 57%;
    transform: translateY(-50%);

    @media (max-width: rem(1600)) {
      display: none;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    align-items: flex-start;
  }

  &__title {
  }

  &__button {
    width: 100%;
    max-width: rem(240);
  }
}
